<app-page-header [title]="'บริการหน้าร้าน'" [activeTitle]="'พนักงานเสิร์ฟ'"
  [title1]="'บริการหน้าร้าน'"></app-page-header>

<!-- Start:: row-1 -->
<div class="grid grid-cols-12 gap-x-6">
  <div class="xl:col-span-12 col-span-12">
    <div class="box">
      <div class="box-body p-4">
        <div class="md:flex items-center justify-between flex-wrap gap-4">
          <div class="grid grid-cols-12 gap-2 md:w-[30%]">

            <div class="xl:col-span-7 col-span-12">
              <ng-select class="w-full !rounded-md" data-trigger name="choices-single-default"
                id="choices-single-default" placeholder="ประเภท">
                <ng-option value="">ทั้งหมด</ng-option>
                <ng-option value="tables">โต๊ะ</ng-option>
                <ng-option value="room">ห้องประชุม</ng-option>
              </ng-select>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- End:: row-1 -->

<!-- Start::row-2 -->
<div class="ynex-kanban-board text-defaulttextcolor dark:text-defaulttextcolor/70 text-defaultsize">
  <div class="kanban-tasks-type new">
    <div class="mb-4">
      <div class="flex justify-between items-center">
        <span class="block font-semibold text-[.9375rem]">ว่าง - {{availableTables.length}}</span>
      </div>
    </div>
    <ngx-simplebar id="new-tasks">
      <div class="kanban-tasks mb-4">
        <app-available-table-card *ngFor="let table of availableTables" [table]="table"
          (openTable)="handleOpenTable($event)"
          (reserveTable)="handleReserveTable($event)"></app-available-table-card>
      </div>
    </ngx-simplebar>
  </div>

  <div class="kanban-tasks-type new">
    <div class="mb-4">
      <div class="flex justify-between items-center">
        <span class="block font-semibold text-[.9375rem]">มีการจอง - {{reservationList.length}}</span>
        <!-- <div>
          <a href="javascript:void(0);"
            class="hs-dropdown-toggle  ti-btn !py-1 !px-2 !font-medium !text-[0.75rem] bg-white dark:bg-bodybg text-default border-0"
            data-hs-overlay="#add-task"><i class="ri-add-line"></i>จองโต๊ะ/ห้องประชุม
          </a>
        </div> -->
      </div>
    </div>
    <ngx-simplebar id="new-tasks">
      <div class="kanban-tasks ">
        <app-reservation-card *ngFor="let res of reservationList" [reservation]="res" (checkIn)="handleCheckIn($event)"
          (cancel)="handleCancel($event)"></app-reservation-card>
      </div>
    </ngx-simplebar>
    <!-- <div class="grid me-4 mt-4">
                            <button type="button" class="ti-btn ti-btn-primary">View More</button>
                        </div> -->
  </div>
  <div class="kanban-tasks-type new">
    <div class="mb-4">
      <div class="flex justify-between items-center">
        <span class="block font-semibold text-[.9375rem]">มีลูกค้า - {{activeTableList.length}}</span>
        <!-- <div>
          <a href="javascript:void(0);"
            class="hs-dropdown-toggle  ti-btn !py-1 !px-2 !font-medium !text-[0.75rem] bg-white dark:bg-bodybg text-default border-0"
            data-hs-overlay="#add-task"><i class="ri-add-line"></i>Check-In
          </a>
        </div> -->
      </div>
    </div>
    <ngx-simplebar id="new-tasks">

      <div class="kanban-tasks ">
        <app-customer-card *ngFor="let item of activeTableList" [occupied]="item"></app-customer-card>
      </div>
    </ngx-simplebar>
  </div>

  <div class="kanban-tasks-type new">
    <div class="mb-4">
      <div class="flex justify-between items-center">
        <span class="block font-semibold text-[.9375rem]">ชำระเงิน - {{paymentList.length}}</span>

      </div>
    </div>
    <ngx-simplebar id="new-tasks">
      <app-payment-card *ngFor="let pay of paymentList" [table]="pay.table" [bill]="pay.bill"
        [customer]="pay.customer"></app-payment-card>
    </ngx-simplebar>
  </div>
</div>
<!--End::row-2 -->

<!-- Start::add board modal -->
<div id="add-board" class="hs-overlay hidden ti-modal">
  <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
    <div class="ti-modal-content">
      <div class="ti-modal-header">
        <h6 class="modal-title text-[1rem] !text-default dark:text-defaulttextcolor/70 font-semibold">Add Board</h6>
        <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold" data-hs-overlay="#add-board">
          <span class="sr-only">Close</span>
          <i class="ri-close-line"></i>
        </button>
      </div>
      <div class="ti-modal-body px-6">
        <div class="grid grid-cols-12 gy-2">
          <div class="xl:col-span-12 col-span-12">
            <label for="task-name" class="form-label">Task Name</label>
            <input type="text" class="form-control w-full !rounded-md" id="task-name" placeholder="Task Name">
          </div>
        </div>
      </div>
      <div class="ti-modal-footer">
        <button type="button" class="hs-dropdown-toggle ti-btn  ti-btn-light align-middle" data-hs-overlay="#add-board">
          Cancel
        </button>
        <button type="button" class="ti-btn bg-primary text-white !font-medium">Add Task</button>
      </div>
    </div>
  </div>
</div>
<!-- End::add board modal -->

<!-- Start::add task modal -->
<div id="add-reserve" class="hs-overlay hidden ti-modal">
  <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
    <div class="ti-modal-content">
      <div class="ti-modal-header">
        <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"
          id="mail-ComposeLabel">จอง</h6>
        <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold" data-hs-overlay="#add-reserve">
          <span class="sr-only">Close</span>
          <i class="ri-close-line"></i>
        </button>
      </div>
      <div class="ti-modal-body px-4 !overflow-visible">
        <app-table-reservation [tableId]="selectedTable?.id" (reserve)="reserveTable($event)"></app-table-reservation>
      </div>
    </div>
  </div>
</div>

<div id="add-check-in" class="hs-overlay hidden ti-modal">
  <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
    <div class="ti-modal-content">
      <div class="ti-modal-header">
        <h6 class="modal-title text-[1rem] font-semibold text-default dark:text-defaulttextcolor/70"
          id="mail-ComposeLabel">Check-In</h6>
        <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold" data-hs-overlay="#add-check-in">
          <span class="sr-only">Close</span>
          <i class="ri-close-line"></i>
        </button>
      </div>
      <div class="ti-modal-body px-4 !overflow-visible">
        <app-table-reservation [tableId]="selectedTable?.id" (reserve)="checkInTable($event)" [status]="'checked_in'"></app-table-reservation>
      </div>
    </div>
  </div>
</div>
<!-- End::add task modal -->
