<div class="reservation-card">
  <!-- รูปภาพ/Avatar -->
  <div class="reservation-card__avatar">
    <img *ngIf="reservation.table?.picture || reservation.room?.picture"
      [src]="reservation.table?.picture ? reservation.table?.getPicture() : reservation.room?.getPicture()"
      alt="จอง" />
    <i *ngIf="!reservation.table?.picture && !reservation.room?.picture" class="ri-image-line"></i>
  </div>
  <!-- Content -->
  <div class="reservation-card__content">
    <div class="reservation-card__labels">
      <span *ngIf="reservation.table" class="badge badge-table">
        <i class="ri-table-fill"></i> โต๊ะ {{ reservation.table.table_number }}
      </span>
      <span *ngIf="reservation.room" class="badge badge-room">
        <i class="ri-door-lock-fill"></i> ห้อง {{ reservation.room.room_name }}
      </span>
      <span class="badge badge-status" [ngClass]="{
        'status-pending': reservation.status === 'PENDING',
        'status-in': reservation.status === 'CHECKED_IN',
        'status-success': reservation.status === 'COMPLETED',
        'status-cancel': reservation.status === 'CANCELLED',
      }">{{ getStatusLabel(reservation.status) }}</span>
    </div>
    <div class="reservation-card__info">
      <span><i class="ri-time-line"></i>{{ reservation.start_time | date: 'short' }}</span>
      <span><i class="ri-user-fill"></i>{{ reservation.num_people }} คน</span>
    </div>
    <div class="reservation-card__note" *ngIf="reservation.note">
      <i class="ri-information-line"></i> {{ reservation.note }}
    </div>
    <div class="reservation-card__actions">
      <button *ngIf="reservation.status === 'PENDING'" class="btn btn-warning" (click)="order.emit(reservation)">
        <i class="ri-restaurant-2-line"></i> สั่งอาหารล่วงหน้า
      </button>
      <button *ngIf="reservation.status === 'PENDING' && reservation.orders.length==0" class="btn btn-danger"
        (click)="cancel.emit(reservation)">
        <i class="ri-close-line"></i> ยกเลิก
      </button>
      <button *ngIf="reservation.status === 'CHECKED_IN'" class="btn btn-primary"
        (click)="order.emit(reservation)">
        <i class="ri-restaurant-2-line"></i> สั่งอาหาร
      </button>
      <button *ngIf="(reservation.status === 'CHECKED_IN' || reservation.orders.length > 0 ) && reservation.status !== 'COMPLETED'"
        class="btn btn-success" (click)="viewBill.emit(reservation)">
        <i class="ri-bill-line"></i>
        {{  'ดูบิล/ชำระเงิน'  }}
      </button>
      <button *ngIf="reservation.status === 'COMPLETED'" class="btn btn-primary" (click)="viewBill.emit(reservation)">
        <i class="ri-file-list-3-line"></i> ดูบิล
      </button>
    </div>
  </div>
</div>
