<div class="modern-occupied-card">
  <div class="modern-occupied-card__header">
    <div class="modern-occupied-card__status">
      <i class="ri-login-circle-line"></i>
      <span>กำลังใช้</span>
    </div>
    <span class="badge-occupied">เลขที่ #{{ occupied.id }}</span>
  </div>
  <div class="modern-occupied-card__main">
    <img [src]="occupied.customer.getPicture()" alt="user" class="user-avatar" />
    <div class="user-name">{{ occupied.customer.name || occupied.customer.phone || occupied.user_id || '-' }}   ({{ occupied.table ? 'โต๊ะ #' + occupied.table.table_number : 'ห้อง: ' + (occupied.room?.room_name || '-') }})</div>
    <div class="meta">เริ่มใช้ {{ occupied.start_time | date: 'HH:mm' }} ({{ occupied.num_people || '-' }} คน)</div>
  </div>
  <div class="modern-occupied-card__action">
    <button class="btn-modern btn-primary" title="สั่งอาหาร" (click)="onOrder()" data-hs-overlay="#add-order">
      <i class="ri-restaurant-2-line"></i> สั่งอาหาร
    </button>
    <button class="btn-modern btn-warning" title="เรียกบิล" (click)="onBill()" data-hs-overlay="#view-bill">
      <i class="ri-bill-line"></i> เรียกบิล
    </button>
  </div>
  <div class="modern-occupied-card__footer">
    <div *ngIf="occupied.note" class="note">หมายเหตุ: {{ occupied.note }}</div>
    <div *ngIf="occupied.orders.length > 0" class="orders">
      <div class="orders-title">รายการอาหารที่สั่ง:</div>
      <ul>
        <li *ngFor="let order of occupied.orders">
          <span *ngFor="let oi of order.order_items">
            {{ oi.menu.name }} <span *ngIf="oi.quantity > 1">x{{oi.quantity}}</span>
          </span>
        </li>
      </ul>
    </div>
    <div *ngIf="getSlipUrl()" class="payment">
      <span><i class="ri-money-dollar-circle-line"></i> มีการชำระเงินแล้ว</span>
    </div>
  </div>
</div>
