<app-page-header [title]="'ข้อมูลร้าน'" [activeTitle]="'จัดการร้าน'" [title1]="'ข้อมูลร้าน'"></app-page-header>


<!-- Start::row-1 -->
<div class="grid grid-cols-12 gap-6">
  <div class="xl:col-span-8 col-span-12">
    <div class="box custom-box">
      <div class="box-header justify-between flex">
        <div class="box-title">
          ข้อมูลร้าน
        </div>
        <div>
        </div>
      </div>
      <div class="box-body">
        <div class="sm:p-4 p-0">
          <h6 class="font-semibold mb-4 text-[1rem]">
            รูปภาพ :
          </h6>
          <div class="mb-6 sm:flex items-center">
            <div class="mb-0 me-[3rem]">
              <span class="avatar avatar-xxl avatar-rounded">
                <img [src]="storeModel.getPicture()" alt="" id="profile-img">
                <a aria-label="anchor" href="javascript:void(0);" class="badge rounded-full bg-primary avatar-badge">
                  <input ng2FileSelect [uploader]="uploaderProfile" type="file" name="photo"
                    class="absolute w-full h-full opacity-0" id="profile-image">
                  <i class="fe fe-camera !text-[0.65rem]"></i>
                </a>
              </span>
            </div>
            <!-- <div class="inline-flex">
              <button type="button" class="ti-btn bg-primary text-white !rounded-e-none !font-medium">แก้ไข</button>
              <button type="button" class="ti-btn ti-btn-light !font-medium !rounded-s-none">ลบ</button>
            </div> -->
          </div>
          <div class="sm:grid grid-cols-12 gap-6 mb-6">
            <div class="xl:col-span-6 col-span-12">
              <label for="first-name" class="form-label">ชื่อร้าน</label>
              <input type="text" class="form-control w-full !rounded-md" id="first-name" [(ngModel)]="storeModel.name"
                placeholder="ชื่อร้าน">
            </div>

            <div class="xl:col-span-6 col-span-12">
              <label for="bio" class="form-label">ที่อยู่ :</label>
              <textarea class="form-control w-full !rounded-md dark:!text-defaulttextcolor/70" id="bio" rows="5"
                [(ngModel)]="storeModel.address"></textarea>
            </div>

          </div>
          <h6 class="font-semibold mb-4 text-[1rem]">
            ข้อมูลการติดต่อ :
          </h6>
          <div class="sm:grid grid-cols-12 gap-6 mb-6">
            <div class="xl:col-span-6 col-span-12">
              <label for="first-name" class="form-label">เวลาเปิด :</label>
              <input type="time" class="form-control w-full !rounded-md" id="first-name"
                [(ngModel)]="storeModel.open_time" placeholder="เวลาเปิด">
            </div>
            <div class="xl:col-span-6 col-span-12">
              <label for="first-name" class="form-label">เวลาปิด :</label>
              <input type="time" class="form-control w-full !rounded-md" id="first-name"
                [(ngModel)]="storeModel.close_time" placeholder="เวลาปิด">
            </div>
            <div class="xl:col-span-6 col-span-12">
              <label for="Contact-Details" class="form-label">เบอร์ติดต่อ :</label>
              <input type="text" class="form-control w-full !rounded-md" id="Contact-Details"
                [(ngModel)]="storeModel.phone" placeholder="การติดต่อ">
            </div>

          </div>
        </div>
      </div>
      <div class="box-footer">
        <div class="ltr:float-right rtl:float-left">
          <button type="button" class="ti-btn bg-primary text-white m-1" (click)="save()">
            บันทึกการเปลี่ยนแปลง
          </button>
          <button type="button" class="ti-btn ti-btn-ghost-secondary ti-btn-wave" (click)="reset()">ยกเลิก</button>

        </div>
      </div>
    </div>
  </div>
  <div class="xl:col-span-4 col-span-12">
    <div class="box custom-box">
      <div class="box-header justify-between">
        <div class="box-title">แผนผังร้าน</div>
      </div>
      <div class="box-body">
        <!-- <div class="mb-6 sm:flex items-center">
            <div class="mb-0 me-[3rem]">
              <span class="avatar avatar-xxl avatar-rounded">
                <img [src]="storeModel.getLayout()" alt="" id="profile-img">
                <a aria-label="anchor" href="javascript:void(0);" class="badge rounded-full bg-primary avatar-badge">
                  <input ng2FileSelect [uploader]="uploaderLayout" type="file" name="photo"
                    class="absolute w-full h-full opacity-0" id="profile-image">
                  <i class="fe fe-camera !text-[0.65rem]"></i>
                </a>
              </span>
            </div>

          </div> -->
        <div class="xl:col-span-12 col-span-12 blog-images-container">
          <!-- <dropzone [config]="config" [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone> -->
          @if(type === 'component'){

          <dropzone class="dropzone-container" [config]="config" [disabled]="disabled" fxLayout="row"
            fxLayoutAlign="start strech" fxFlex="auto" [message]="'Click or drag images here to upload'"
            (init)="onUploadInit($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
          </dropzone>
          }

        </div>
        <div class="mt-3 mb-6 sm:flex items-center w-full">
          <img *ngIf="storeModel.getLayout()!=''" class="object-cover rounded-sm" [src]="storeModel.getLayout()"
            alt="Image Description">
        </div>
      </div>
    </div>
  </div>
  <!--End::row-1 -->
