<app-page-header [title]="'จัดการโต๊ะ'" [activeTitle]="'ผู้ดูแลระบบ'" [title1]="'จัดการโต๊ะ'"></app-page-header>

<div class="grid grid-cols-12 gap-x-6">
  <div class="xl:col-span-12 col-span-12">
    <div class="box mt-6">
      <div class="box-header justify-between">
        <div class="box-title">
          {{ 'All List' | translate}} <span
            class="badge bg-light text-default rounded-full ms-1 text-[0.75rem] align-middle">{{itemsList.length}}</span>
        </div>
        <div class="flex flex-wrap gap-2">
          <a href="javascript:void(0);" class="hs-dropdown-toggle ti-btn ti-btn-primary-full me-2" (click)="new()"
            data-hs-overlay="#modal-detail"><i class="ri-add-line font-semibold align-middle"></i>{{ 'เพิ่ม' |
            translate}}
          </a>
          <div>
            <input [(ngModel)]='searchTerm' class="form-control form-control" type="text"
              placeholder="{{ 'ค้นหาโต๊ะ' | translate}}" aria-label=".form-control-sm example">
          </div>
          <!-- <a href="javascript:void(0);" class="ti-btn ti-btn-primary-full !py-1 !px-2" aria-expanded="false">
            เรียงตาม<i class="ri-arrow-down-s-line align-middle ms-1 inline-block"></i>
          </a>
          <ul class="hs-dropdown-menu ti-dropdown-menu hidden" role="menu">
            <li><a class="ti-dropdown-item" href="javascript:void(0);">Posted Date</a></li>
            <li><a class="ti-dropdown-item" href="javascript:void(0);">Status</a></li>
            <li><a class="ti-dropdown-item" href="javascript:void(0);">Department</a></li>
            <li><a class="ti-dropdown-item" href="javascript:void(0);">Job Type</a></li>
            <li><a class="ti-dropdown-item" href="javascript:void(0);">Newest</a></li>
            <li><a class="ti-dropdown-item" href="javascript:void(0);">Oldest</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
  @for(item of filterList;track filterList){
  <!-- <div class="xxl:col-span-4 xl:col-span-6 lg:col-span-6 md:col-span-6 sm:col-span-12 col-span-12">
    <div class="box team-member-card">
      <div class="teammember-cover-image mt-1">
        <span class="avatar avatar-xl avatar-rounded">
          <img [src]="item.getPicture()" alt="">
        </span>

      </div>
      <div class="box-body !p-0">
        <div
          class="flex flex-wrap align-item-center sm:mt-0 mt-[3rem] justify-between border-b border-dashed dark:border-defaultborder/10 p-4">
          <div class="team-member-details flex-grow">
            <p class="mb-0 font-semibold text-[1rem] text-truncate">
              <a href="javascript:void(0);">{{item.equipmentName}}</a>
            </p>
            <p class="mb-0 text-[0.75rem] text-[#8c9097] dark:text-white/50 text-truncate">
              {{item.description}}</p>
          </div>
        </div>
      </div>
      <div class="box-footer border-block-start-dashed dark:border-defaultborder/10 text-center">
        <div class="btn-list">
          <div class="btn-list">
            <button type="button" aria-label="button" data-hs-overlay="#modal-detail" (click)="view(item)"
              class="ti-btn ti-btn-sm  ti-btn-primary me-[0.375rem]"><i class="ri-edit-line"></i></button>
            <button (click)="delete(item)" type="button" aria-label="button"
              class="ti-btn ti-btn-sm ti-btn-danger me-0"><i class="ri-delete-bin-line"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="xxl:col-span-2 xl:col-span-3 lg:col-span-4 md:col-span-4 sm:col-span-6 col-span-12">
    <div class="box custom-box">
      <img [src]="item.getPicture()" class="!rounded-t-md" alt="..."
        style="width: 100%;height: 200px;object-fit: cover;">
      <div class="flex items-center justify-between nft-like-section w-full px-4">
        <!-- <div class="flex-grow">
          <button type="button" aria-label="button"
            class="ti-btn ti-btn-sm ti-btn-success-full !rounded-full btn-wave waves-effect waves-light">
            <i class="ri-heart-fill"></i>
          </button>
        </div>
        <div>
          <span class="badge nft-like-badge text-white"><i
              class="ri-heart-fill me-1 text-danger align-middle inline-block"></i>0.47k</span>
        </div> -->
      </div>
      <div class="box-body">

        <div class="flex items-center mb-4">
          <div>
            <p class="text-[0.75rem] text-[#8c9097] dark:text-white/50 mb-0"># {{item.id}}</p>
            <p class="text-[.9375rem] font-semibold mb-2"><a href="javascript:void(0);">{{item.table_number}}</a></p>

          </div>
        </div>

        <div class="flex flex-wrap align-itesm-center justify-between mb-2">
          <div class="font-semibold mb-1">ความจุคน :</div>
          <h3 class="text-[#8c9097] dark:text-white/50">{{item.capacity}}</h3>
        </div>
        <div class="flex flex-wrap align-itesm-center justify-between">
          <div class="font-semibold mb-1">สถานะ :</div>
          <span class="badge bg-{{ item.status ? 'primary' : 'danger'}} text-white">{{item?.getStatus()}}</span>
        </div>
        <!-- <div class="grid">
          <button type="button" class="ti-btn ti-btn-primary btn-wave waves-effect waves-light">Place Bid</button>
        </div> -->
      </div>
      <div class="box-footer border-block-start-dashed dark:border-defaultborder/10 text-center">
        <div class="btn-list">
          <div class="btn-list">
            <button type="button" aria-label="button" data-hs-overlay="#modal-detail" (click)="view(item)"
              class="ti-btn ti-btn-sm  ti-btn-primary me-[0.375rem]"><i class="ri-edit-line"></i></button>
            <button (click)="delete(item)" type="button" aria-label="button"
              class="ti-btn ti-btn-sm ti-btn-danger me-0"><i class="ri-delete-bin-line"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
</div>
<!-- <nav aria-label="Page navigation" class="mb-4">
  <ul class="ti-pagination !justify-end py-[0.375rem] px-3 text-[1rem] flex flex-row">
    <li class="page-item disabled"><a class="page-link py-[0.375rem] px-3" href="javascript:void(0);">Previous</a></li>
    <li class="page-item"><a class="page-link py-[0.375rem] px-3" href="javascript:void(0);">1</a></li>
    <li class="page-item"><a class="page-link py-[0.375rem] px-3" href="javascript:void(0);">2</a></li>
    <li class="page-item"><a class="page-link py-[0.375rem] px-3" href="javascript:void(0);">Next</a></li>
  </ul>
</nav> -->


<!-- Start:: New Deal -->
<div id="modal-detail" class="hs-overlay hidden ti-modal">
  <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
    <div class="ti-modal-content">
      <div class="ti-modal-header">
        <h6 class="modal-title text-[1rem] font-semibold text-defaulttextcolor" id="mail-ComposeLabel">ข้อมูลโต๊ะ
        </h6>
        <button type="button" class="hs-dropdown-toggle !text-[1rem] !font-semibold !text-defaulttextcolor"
          data-hs-overlay="#modal-detail">
          <span class="sr-only">Close</span>
          <i class="ri-close-line"></i>
        </button>
      </div>
      <div class="ti-modal-body px-4">
        <div class="grid grid-cols-12 gap-4">
          <div class="xl:col-span-12 col-span-12">
            <div class="mb-0 text-center">
              <span class="avatar avatar-xxl avatar-rounded">
                <img [src]="selectModel.getPicture()" alt="" id="profile-img">
                <span class="badge rounded-full bg-primary avatar-badge">
                  <input ng2FileSelect [uploader]="uploaderProfile" type="file" name="photo"
                    class="absolute w-full h-full opacity-[0]" id="profile-change">
                  <i class="fe fe-camera text-[.625rem]"></i>
                </span>
              </span>
            </div>
          </div>
          <div class="xl:col-span-12 col-span-12">
            <label for="deal-name" class="form-label">โต๊ะ</label>
            <input type="text" class="form-control" id="deal-name" placeholder="โต๊ะ"
              [(ngModel)]="selectModel.table_number">
          </div>

          <div class="xl:col-span-12 col-span-12">
            <label for="deal-name" class="form-label">จำนวนคนที่จุได้</label>
            <input type="number" class="form-control" id="deal-name" placeholder="จำนวนคนที่จุได้"
              [(ngModel)]="selectModel.capacity">
          </div>

          <div class="xl:col-span-12 col-span-12">
            <label class="form-label">{{'สถานะการบริการ' | translate}}</label>
            <ng-select name="choices-multiple-remove-button1" id="choices-multiple-remove-button1" placeholder=""
              [(ngModel)]="selectModel.status">
              <ng-option value="available">{{'ว่าง' | translate}}</ng-option>
              <ng-option value="reserved">{{'มีการจองล่วงหน้า' | translate}}</ng-option>
              <ng-option value="occupied">{{'มีลูกค้านั่งแล้ว' | translate}}</ng-option>
              <ng-option value="cleaning">{{'รอพนักงานเช็ดโต๊ะ' | translate}}</ng-option>
              <ng-option value="maintenance">{{'maintenance / ซ่อม' | translate}}</ng-option>
            </ng-select>
          </div>



        </div>
      </div>
      <div class="ti-modal-footer">
        <button #closeModal type="button" class="hs-dropdown-toggle ti-btn  ti-btn-light align-middle"
          data-hs-overlay="#modal-detail">
          ยกเลิก
        </button>
        <button type="button" class="ti-btn bg-primary text-white !font-medium" (click)="save()">บันทึก</button>
      </div>
    </div>
  </div>
</div>
