<app-page-header [title]="'จัดการโต๊ะ'" [activeTitle]="'ผู้ดูแลระบบ'" [title1]="'จัดการโต๊ะ'"></app-page-header>

<div class="grid grid-cols-12 gap-6">
  <div class="xl:col-span-12 col-span-12">
    <div class="box mt-6">
      <div class="box-header flex justify-between items-center">
        <div class="box-title">
          {{ 'All List' | translate }}
          <span class="badge bg-light text-default rounded-full ms-1 text-[0.75rem] align-middle">
            {{ itemsList.length }}
          </span>
        </div>
        <div class="flex flex-wrap gap-2 items-center">
          <button class="ti-btn ti-btn-primary-full flex items-center" (click)="new()" data-hs-overlay="#modal-detail">
            <i class="ri-add-line font-semibold align-middle mr-2"></i>{{ 'เพิ่ม' | translate }}
          </button>
          <input [(ngModel)]='searchTerm' class="form-control w-48" type="text" placeholder="{{ 'ค้นหาโต๊ะ' | translate }}">
        </div>
      </div>
    </div>
  </div>

  <!-- Card Loop -->
  <ng-container *ngFor="let item of filterList">
    <div class="xxl:col-span-2 xl:col-span-3 lg:col-span-4 md:col-span-6 sm:col-span-12 col-span-12 flex">
      <div class="box custom-box flex flex-col h-full min-h-[380px] w-full shadow-lg rounded-lg transition-all duration-300 hover:shadow-2xl">
        <!-- รูปภาพ -->
        <img [src]="item.getPicture()" alt="โต๊ะ" class="rounded-t-lg w-full h-40 object-cover border-b border-gray-200">
        <!-- เนื้อหา -->
        <div class="flex flex-col flex-1 p-4">
          <div class="flex items-center justify-between mb-2">
            <span class="text-xs text-gray-400">#{{ item.id }}</span>
            <span class="badge bg-{{ item.status === 'available' ? 'success' : 'danger' }} text-white">
              {{ item?.getStatus() }}
            </span>
          </div>
          <h3 class="text-lg font-bold mb-1 truncate">โต๊ะ {{ item.table_number }}</h3>
          <p class="mb-3 text-sm text-gray-500">ความจุ: <b>{{ item.capacity }}</b> คน</p>
          <div class="mt-auto flex gap-2">
            <button type="button" data-hs-overlay="#modal-detail" (click)="view(item)"
              class="ti-btn ti-btn-sm ti-btn-primary rounded-full"><i class="ri-edit-line"></i>
            </button>
            <button (click)="delete(item)" type="button"
              class="ti-btn ti-btn-sm ti-btn-danger rounded-full"><i class="ri-delete-bin-line"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- <nav aria-label="Page navigation" class="mb-4">
  <ul class="ti-pagination !justify-end py-[0.375rem] px-3 text-[1rem] flex flex-row">
    <li class="page-item disabled"><a class="page-link py-[0.375rem] px-3" href="javascript:void(0);">Previous</a></li>
    <li class="page-item"><a class="page-link py-[0.375rem] px-3" href="javascript:void(0);">1</a></li>
    <li class="page-item"><a class="page-link py-[0.375rem] px-3" href="javascript:void(0);">2</a></li>
    <li class="page-item"><a class="page-link py-[0.375rem] px-3" href="javascript:void(0);">Next</a></li>
  </ul>
</nav> -->


<!-- Start:: New Deal -->
<div id="modal-detail" class="hs-overlay hidden ti-modal">
  <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
    <div class="ti-modal-content">
      <div class="ti-modal-header flex justify-between items-center border-b">
        <h6 class="modal-title text-lg font-semibold" id="mail-ComposeLabel">ข้อมูลโต๊ะ</h6>
        <button type="button" class="hs-dropdown-toggle text-xl" data-hs-overlay="#modal-detail">
          <i class="ri-close-line"></i>
        </button>
      </div>
      <div class="ti-modal-body p-6">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 text-center mb-4">
            <span class="avatar avatar-xxl avatar-rounded inline-block">
              <img [src]="selectModel.getPicture()" alt="" class="mx-auto border shadow">
              <span class="badge rounded-full bg-primary avatar-badge">
                <input ng2FileSelect [uploader]="uploaderProfile" type="file" name="photo"
                  class="absolute w-full h-full opacity-0 cursor-pointer" id="profile-change">
                <i class="fe fe-camera"></i>
              </span>
            </span>
          </div>
          <div class="col-span-12">
            <label for="table-number" class="form-label font-medium">โต๊ะ</label>
            <input type="text" class="form-control" id="table-number" placeholder="โต๊ะ" [(ngModel)]="selectModel.table_number">
          </div>
          <div class="col-span-12">
            <label for="table-capacity" class="form-label font-medium">จำนวนคนที่จุได้</label>
            <input type="number" class="form-control" id="table-capacity" placeholder="จำนวนคนที่จุได้" [(ngModel)]="selectModel.capacity">
          </div>
          <div class="col-span-12">
            <label class="form-label font-medium">สถานะการบริการ</label>
            <ng-select [(ngModel)]="selectModel.status">
              <ng-option value="available">ว่าง</ng-option>
              <ng-option value="reserved">มีการจองล่วงหน้า</ng-option>
              <ng-option value="occupied">มีลูกค้านั่งแล้ว</ng-option>
              <ng-option value="cleaning">รอพนักงานเช็ดโต๊ะ</ng-option>
              <ng-option value="maintenance">maintenance / ซ่อม</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="ti-modal-footer flex justify-end gap-2 border-t pt-3">
        <button #closeModal type="button" class="ti-btn ti-btn-light" data-hs-overlay="#modal-detail">
          ยกเลิก
        </button>
        <button type="button" class="ti-btn bg-primary text-white font-medium" (click)="save()">บันทึก</button>
      </div>
    </div>
  </div>
</div>
