<div class="box kanban-tasks new">
  <div class="box-body !p-0">
    <div class="p-4 kanban-board-head">
      <div class="flex text-[#8c9097] dark:text-white/50 justify-between mb-1 text-[.75rem] font-semibold">
        <div class="inline-flex">#No - {{ table.table_number}}</div>
        <!-- <div class="text-success"><i class="ri-check-fill me-1 align-middle"></i>Done</div> -->
      </div>
      <div class="flex items-center justify-between">
        <div class="task-badges"><span
            class="ms-1 badge bg-primary/10 text-primary">นั่งได้ {{ table.capacity }} คน</span></div>
        <div class="flex gap-2">
          <button class="ti-btn ti-btn-success ti-btn-md" (click)="onOpen()">เปิดโต๊ะ</button>
          <button class="ti-btn ti-btn-primary ti-btn-md" (click)="onReserve()"
            data-hs-overlay="#add-reserve">จองโต๊ะ</button>
        </div>
      </div>
      <div class="kanban-content mt-2">
        <div class="task-image mt-2">
          <img src="{{table.getPicture()}}" class="img-fluid rounded kanban-image bg-light" alt="">
        </div>
        <!-- <h6 class="font-semibold mb-0 mt-2">Project discussion with client.</h6> -->
      </div>
    </div>
    <div class="p-4 border-t dark:border-defaultborder/10 border-dashed">
      <!-- <div class="flex items-center justify-between">
        <div class="inline-flex items-center">
          <a href="javascript:void(0);" class="inline-flex items-center me-2 text-primary">
            <span class="me-1"><i class="ri-thumb-up-fill align-middle font-normal"></i></span><span
              class="font-semibold text-[.75rem]">11</span>
          </a>
          <a href="javascript:void(0);" class="inline-flex items-center text-[#8c9097] dark:text-white/50">
            <span class="me-1"><i class="ri-message-2-line align-middle font-normal"></i></span><span
              class="font-semibold text-[.75rem]">05</span>
          </a>
        </div>
        <div class="avatar-list-stacked">
          <span class="avatar avatar-sm avatar-rounded">
            <img src="./assets/images/faces/4.jpg" alt="img">
          </span>
        </div>
      </div> -->
    </div>
  </div>
</div>
<!-- Start:: Create Contact -->
<!-- <div id="modal-reserve" class="hs-overlay hidden ti-modal [--overlay-backdrop:static]">
  <div class="hs-overlay-open:mt-7 ti-modal-box mt-0 ease-out">
    <div class="ti-modal-content">
     <app-table-reservation [tableId]="selectedTable?.id" (reserve)="handleReserve($event)"></app-table-reservation>
    </div>
  </div>
</div> -->
<!-- End:: Create Contact -->
