.kanban-tasks .box-body {
  min-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kanban-content img {
  max-height: 140px;
  min-height: 80px;
}

.kanban-content h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
