<div class="modern-reservation-card">
  <div class="modern-reservation-card__header">
    <div class="modern-reservation-card__status">
      <i class="ri-calendar-check-line"></i>
      <span>จองแล้ว</span>
    </div>
    <span class="badge-res">เลขที่ #{{ reservation.id }}</span>
  </div>
  <div class="modern-reservation-card__main">
    <img *ngIf="reservation.table?.picture" [src]="reservation.table?.getPicture()" alt="cover"
      class="main-img" />
    <img *ngIf="reservation.room?.picture" [src]="reservation.room?.getPicture()" alt="cover"
      class="main-img" />
    <div class="title">
      {{ reservation.table ? 'โต๊ะ #' + reservation.table.table_number : 'ห้อง: ' + (reservation.room?.room_name || '-') }}
    </div>
    <div class="meta">เวลา {{ reservation.start_time | date: 'HH:mm' }}</div>
    <div class="meta">
      {{ reservation.num_people || '-' }} คน ({{ reservation.user.name || reservation.user.phone || reservation.user_id || '-' }})
    </div>
  </div>
  <div class="modern-reservation-card__action">
    <button (click)="onCheckIn()" class="btn-action btn-success">
      <i class="ri-login-circle-line"></i> Check-in
    </button>
    <button (click)="onCancel()" class="btn-action btn-danger">
      <i class="ri-close-line"></i> ยกเลิก
    </button>
  </div>
  <div class="modern-reservation-card__footer">
    <div *ngIf="reservation.note" class="note">หมายเหตุ: {{ reservation.note }}</div>
    <div *ngIf="reservation.orders.length > 0" class="orders">
      <div class="orders-title">รายการอาหารที่จอง:</div>
      <ul>
        <li *ngFor="let order of reservation.orders">
          <span *ngFor="let oi of order.order_items">
            {{ oi.menu.name }} <span *ngIf="oi.quantity > 1">x{{oi.quantity}}</span>
          </span>
        </li>
      </ul>
    </div>
    <div *ngIf="reservation.payments.length > 0" class="payment">
      <span><i class="ri-money-dollar-circle-line"></i> มีการชำระเงินแล้ว</span>
    </div>
  </div>
</div>
